%html
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{name: "description", content: "Zack Ginies is a Toronto based front-end and UX developer. He works primarily in HTML, CSS/LESS/Sass and Javascript. He has experience with PHP and has worked extensively with Wordpress. Currently working at Format.com."}

    %title Case Studies - Zack Ginies - Toronto Based Product and UX Designer
    %link{rel: "stylesheet", type: "text/css", media: "all", href: "public/assets/css/index.css"}
    %link{rel: "stylesheet", type: "text/css", media: "all", href: "public/assets/css/case_studies.css"}
    %script{async: "", src: "https://www.googletagmanager.com/gtag/js?id=UA-1039063-1"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-1039063-1');

  %body
    %nav
      %button Close Menu
      %ul
        %li
          %a{href: "/"} About
        %li
          %a{href: "/"} Case Studies
          %ul
            %li
              %a{href: "/studies/calling.html"} Calling
        %li
          %a{href: "/values.html"} Values
        %li
          %a{href: "/contact.html"} Contact
    %section.masthead
      %button.button__open-menu Open Menu
      .masthead__icon
        %svg{height: "265", width: "168", xmlns: "http://www.w3.org/2000/svg"}
          %path{d: "M79.64 74.775c2.471-12.473 6.018-23.79 10.642-33.949 6.872-15.102 10.592-27.135 19.663-33.734 9.072-6.6 18.308-8.593 27.71-5.98 16.65 4.627 26.361 18.804 29.134 42.53 2.772 23.727.785 50.64-5.963 80.738-6.747 30.1-15.172 56.248-25.274 78.446-7.519 16.521-19.786 33.295-31.632 45.99-2.83 5.116-8.406 11.365-15.874 14.382a8.794 8.794 0 0 1-1.271.476c-4.833 1.663-10.397 1.95-16.479-.23-23.653-8.475-27.592-27.308-38.044-48.084-10.042-19.958-18.415-43.468-25.122-70.53-6.706-27.062-8.682-51.259-5.926-72.59C3.959 50.906 13.612 38.16 30.16 33.999c9.345-2.349 18.526-.557 27.542 5.377 9.017 5.934 12.714 16.752 19.545 30.33a112.97 112.97 0 0 1 2.393 5.07zM30.023 59.962c-3.942.991-4.793 10.506-2.553 28.544 2.24 18.039 6.815 39.972 13.729 65.8 6.913 25.828 15.105 50.213 24.577 73.157 2.005-26.726 1.504-52.877-1.505-78.454-3.008-25.577-8.724-48.175-17.15-67.796-6.6-15.374-12.3-22.457-17.098-21.25zm98.43-31.92c-4.696-.922-9.893 8.51-15.591 28.297-5.699 19.787-10.63 44.762-14.792 74.926-4.163 30.164-6.297 59.467-6.403 87.91 14.182-26.684 25.403-54.012 33.663-81.985 8.26-27.974 12.261-54.202 12.002-78.686-.203-19.184-3.163-29.337-8.88-30.461z", fill: "#FFF"}
      %h4
        A world where volunteering is simple, easy and social
        %span Calling App // UX Research & Design, Visual Identity
      .arrow.animated.bounce

    %main.main_content
      %section.section.section__problem_space
        .section__content
          %h3.section__header Problem Space
          %p
            In the spring of 2019, I was meeting several new people, and most of them seemed fascinated with my background in volunteer work. After going over my experience and hearing about my passion towards it, almost everyone I spoke with said the same thing:
            %strong “I’ve always wanted to volunteer, but it always seems so hard to get started.”
          %p Hearing that so many people had missed out on opportunities to volunteer was concerning. Could it really be that hard? What kinds of barriers were there? I decided to dig deeper into this phenomenon.

      %section.section.section__research
        .section__content
          %h3.section__header Research & Discovery
          %p To gather more insights, I interviewed 5 people about their experiences with volunteering and, more importantly, about their desire to volunteer - I wanted to truly understand the motivations behind why people volunteer.
        .section__callout
          .section__content
            %h4 Four Major Findings
            %ul.section__callout--list
              %li.section__callout--list-item.item-one
                %h6 The desire to volunteer is strong.
                %p People who volunteer truly believe that it is their duty and responsibility to do so.
              %li.section__callout--list-item.item-two
                %h6 Barrier to entry is high.
                %p Discovery and the application process is long and out-of-date.
              %li.section__callout--list-item.item-three
                %h6 Social and community driven.
                %p People felt that volunteering connected them to their community.
              %li.section__callout--list-item.item-four
                %h6 Contributes to self worth.
                %p Many people expressed that volunteering gives them the ‘warm fuzzies’.

      %section.section.section__research
        .section__content
          %blockquote.section__content-blockquote
            “You can see the impact on others and on yourself - it’s very heartwarming to see how small gestures impact someone else’s life.”
            %span Marielle Fontaine, Interview Participant
          %p Of the four major findings, the one that stood out the most was that there were signifigant barriers to entry. Users mentioned that the processes were long and out of date, and in some cases, phone calls or emails were never even returned. One user even said they had to print off and mail in their application form and that alone stopped them from proceeding.
          %p Users also mentioned that they struggled to find an organization they wanted to volunteer. There are lots of choices out there, and most users didn’t even know where to start.
          %p Volunteering has massive social and global impact. If people who would otherwise be volunteering aren’t because they’ve given up on the process before even beginning the process, this could be an incredible opportunity for true design intervention.

          %blockquote.section__content-blockquote How might we connect potential volunteers with organizations they identify with, and inspire them to successfully complete the application process?

      %section.section.section__persona
        .section__content
          %h3.section__header Persona Development
          %p My next step was to develop my understanding of the user even further by building out a persona. This would allow me to not only connect with my user in a much more meaningful way, but giving a face and name to the user allowed me to really start to build upon the humanity and empathy required for a successful solution.
          %img.section__content-image{src: "public/assets/images/case_studies/kim_miller.jpg"}

      %section.section.section__task-selection
        .section__content
          %h3.section__header
            Experience Mapping
            %br
            & Task Selection
          %p Kim is a passionate woman who works tirelessly at her job. She is  driven to spend what little free time she has volunteering. The time she has to spend conducting research and applying to an organization is incredibly limited and she would much rather spend that time actually making a difference and contributing - this is something that prevented her from volunteering in the past.
          %p Before I could really understand key moments of intervention, I needed to create an experience map to take a look at Kim’s journey through the entire problem space. When I did this, I noticed there were 2 major moments of friction and one major moment of delight.
          %img.section__content-image{src: "public/assets/images/case_studies/experience_map.jpg"}
          %p Once I had really gotten a feel for the pain that Kim was experiencing during this process, I began to break out the individual tasks and user stories Kim would want to accomplish during her journey. After developing out a few dozen user stories, three major themes revealed themselves as epics.

          %h5.center Discover
          %blockquote.section__content-blockquote--small “As a volunteer, I want to be connected with an organization, so that I can spend less time looking.”

          %h5.center Apply
          %blockquote.section__content-blockquote--small “As a volunteer, I want to be connected with an organization, so that I can spend less time looking.”

          %h5.center Connect
          %blockquote.section__content-blockquote--small “As a volunteer, I want to be connected with an organization, so that I can spend less time looking.”

          %h5 Discover Organization Task Flow
          %p Now that I had clear direction on the important tasks to Kim, I need to focus in on a single task to explore. The best way to figure out how Kim would move through this task was to develop out a task flow.

          %img.section__content-image{src: "public/assets/images/case_studies/task_flow.jpg"}

      %section.section.section__design-exploration
        .section__content
          %h3.section__header Design Exploration
          %p Now that I was confident in my problem space, persona and chosen epics I wanted to start validating potential solutions. To do this, I started to explore simple concepts through pen & paper sketching and lo-fi wireframes.

          %img.section__content-image{src: "public/assets/images/case_studies/paper_sketches.jpg"}

          %p The fastest way to get ideas out was for me to sketch them out on paper. This allowed me to validate concepts easily and quickly.  However, I felt that paper could only take me so far in validation. To take my sketches further, and develop out a functional prototype, I began to build out lo-fi wireframes.

          %img.section__content-image{src: "public/assets/images/case_studies/lofi_wires.jpg"}

          %img.section__content-image--small.float-right{src: "public/assets/images/case_studies/before_after.jpg"}

          %h5 Don't Reinvent The Wheel
          %p While building out my wireframes, I started experimenting with ways users could select how much time they had available to volunteer and I felt that this was a really great opportunity to do some interesting things with a touch interface and some sort of dial pattern. I tried out some ideas and put them in front of users to test and not a single person understood what was happening and what they were expected to do.
          %p I took this feedback very seriously, decided to scrap the idea and implement a pattern that users would be more familiar with - Material design chips.

          %h5 Iterate. Iterate. Iterate.
          %p With a clear path ahead of me, I began iterating on my wires, testing, and iterating again. Eventually, I got to a point where I felt that testing my iterations was producing no new information, so from there, I began to start exploring where I wanted to take this visually.

      %section.section.section__visual-identity
        .section__content
          %h3.section__header Visual Identity

        .section__callout
          .section__content
            %h4 The Brand Is
            %ul
              %li fun
              %li joyful
              %li caring
              %li playful
            %ul
              %li stuffy
              %li sterile
              %li expensive
              %li serious

        .section__content
          %p I started focusing on choosing a name for my app. I chose a word that came up several times during my user interviews - users felt it was their duty to start volunteering, a feeling of giving back that they couldn’t really describe, but knew it was something they had to do. It was their calling.
          %img.section__content-image{src: "public/assets/images/case_studies/moodboard.jpg"}
          %p Calling is an interesting word to work with. Without question, it sounds like a telephone app, so I needed to be very careful about where I took the visual identity. Despite this, I started playing around with the double L’s, looping them, overlaying them, twisting them to the point where it actually just looked like a literal phone cord. Not good. However, I started to see another shape emerge - a heart.
          %img.section__content-image{src: "public/assets/images/case_studies/logo_exploration.jpg"}

        .section__callout
          .section__content
            %h4 Chosen Wordmark
            %img.section__content-image{src: "public/assets/images/case_studies/wordmark.png"}
        .section__content
          %p I had some concerns with using a heart as imagery - it definitely gives off dating app vibes, but felt that I could manage this through color and application which I would validate through moodboard exploration.
          %p Ultimately, my moodboard communicated a feeling of stillness, warmth and full beach vibes. The colors I extracted from my moodboards debunked my ‘dating app’ concerns, and I was confident that the heart imagery would be fine.
          %img.section__content-image{src: "public/assets/images/case_studies/color_group.jpg"}
          %img.section__content-image--small.float-right{src: "public/assets/images/case_studies/type_evolution.jpg"}
          %p My color exploration went through many phases. The first draft of my colors were muted, subtle and, to be honest, incredibly dull. Through several rounds of experimentation, iteration and adjustments, I landed on a palette that was both accessible and dynamic, but not too much of a divergence from my original moodboard.
          %p With my new colors in place, my original typeface selection started to feel dated. I decided to move to something that felt much more current, and that kept up with the energy of my new color palette.
          %img.section__content-image{src: "public/assets/images/case_studies/type_evolution_sentance.jpg"}
          %img.section__content-image{src: "public/assets/images/case_studies/visual_evolution.jpg"}

      %section.section.section__next-steps
        .section__content
          %h3 Next Steps
          %p Although far from complete, Calling is in a good state overall. The current prototype communicates an idea, a flow and solid design thinking, while the visual identity communicates a understanding of branding, color and design. When thinking about about how Calling could scale, I consider two very different futures.

          %h5 Best & Worst Case
          %p Many organizations would not exist if not for their volunteers. A massive influx of volunteers would mean organizations would see a huge spike in their efforts and how they operate. This influx could inspire global change for the good, and it could refocus how humans feel about community and the world around them.
          %p On the other hand, there is no question that volunteering is a very privileged thing to do - it takes time and energy to do. It is not something that someone who works 2 (or more) jobs would typically be able to include in their day to day. In addition to this, volunteering also can bring out an elitist mentality in some. Are we talking potential class war? Maybe. Could this potentially have the opposite effect and actually turn people off of volunteering? Maybe.

          %h5 So, what next?
          %p I believe the immediate next steps would be to focus more on the application process. Each organization has different processes in place, and it’s important to make sure that Calling can accommodate these variations. I also strongly feel that the core interactions will actually happen on desktop, with the mobile app being much more of a companion, and not actually facilitate the core interactions.
          %p In addition to this, all my research is on the experience of the volunteer. Moving forward, I would need to conduct a very different set of research to find out exactly what the needs are from the perspective of an organization and apply those findings.

        .section__callout
          .section__content
            %h4 Key Project Learnings
            %ul.section__callout--list
              %li.section__callout--list-item
                %h6
                  Do your research.
                  %br
                  Define your problem.
                  %br
                  Know your users.
              %li.section__callout--list-item
                %h6
                  Ditch the ego.
                  %br
                  Colors are important.
                  %br
                  Accessibility is user experience.
              %li.section__callout--list-item
                %h6
                  Follow your gut.
                  %br
                  Trust your instincts.
                  %br
                  Always validate.
