%html
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{name: "description", content: "Zack Ginies is a Toronto based product and user experience designer. He is skilled at user research, testing and iterative design. He is also proficient in Sketch, Principle and InVision. In addition, he also has 10 years of front-end development experience."}

    %title Zack Ginies - Toronto Based Product and UX Designer
    %link{rel: "icon", type: "image/png", media: "all", href: "public/assets/images/favicon.png"}
    %link{rel: "stylesheet", type: "text/css", media: "all", href: "public/assets/css/index.css"}
    %script{async: "", src: "https://www.googletagmanager.com/gtag/js?id=UA-1039063-1"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-1039063-1');

  %body
    %header
      %button.button__open-menu Open Menu
      %nav.nav__main
        %button.button__close-menu Close Menu
        %ul
          %li.active
            %a{href: "./"} About
          %li
            %a{href: "./calling.html"} Case Studies
            %ul
              %li
                %a{href: "./calling.html"} Calling
              %li
                %a{href: "./snapple.html"} Project Snapple
          %li
            %a{href: "./visuals.html"} Visual Design
          %li
            %a{href: "mailto:zack@zackginies.com"} Email Me
    %section.masthead
      .section__content
        %h1.masthead__header
          Hi, I'm Zack!
          %span a Toronto based product and UX designer
        .arrow.animated.bounce
    %section.info
      .info_block
        %h3 I'm kind of new here, but not really.
        %p After 10 years as a front-end developer, I've made the transition into a role focused primarily on product and UX design. Don't worry, writing code and building beautiful interfaces still makes me feel like a magnificent hybrid of <a href="http://www.theresacaputo.com/" target="_blank" title="Theresa Caputo">Theresa Caputo's hair</a> and <a href="https://en.wikipedia.org/wiki/Iris_Kyle" target="_blank" title="Iris Kyle">Iris Kyle</a>.
        %p Over the span of my 10 year career, I’ve had the pleasure of working with some major brands like Google, Starbucks, Stella Artois, Honda, KFC, and Bell, and also with some incredible local Toronto brands like The Black Hoof and Bar Isabel.
        %p Before making this transition, I was working with the fine folks over at <a href="http://www.format.com/" target="_blank" title="Format">Format.com</a>, and before that, I was building epic sh!t at <a href="http://teehanlax.com/" tite="Teehan+Lax" target="_blank">Teehan+Lax</a>.
        %p I'm also, like, totally hireable right now, so feel free to <a href="mailto:zack@zackginies.com" title="Email me!">slide into those DMs</a>. But before you do, you should know that I excel on teams that value data, technology, humanity, empathy and diversity.

      .info_block
        %h3 Some things I'm really good at
        %ul
          %li User research and testing
          %li Information architecture and wireframing
          %li Fully interactive prototyping using Sketch, InVision and Principle
          %li Responsive and scalable UI design
          %li Semantic and standards based HTML
          %li CSS, Sass and LESS
          %li Reusable ES6, React and jQuery
          %li Cross-browser testing and support

      .info_block
        %h5 And, of course, everything else
        %ul
          %li Pokémon
          %li Livestreaming on <a href="http://twitch.tv/traderzed" target="_blank" title="TraderZed on Twitch">Twitch</a>
          %li Customizing fightsticks
          %li Dark Souls
          %li
            <a href="https://traderzed.format.com/" target="_blank" title="TraderZed on Format">Photography</a>
          %li Fitness and exercise
          %li Horror movies
          %li Godzilla

      .info_block
        %h3 Still with me? Awesome!
        %p
          <a href="mailto:zack@zackginies.com" title="Email me!">Email me</a> or let's connect on <a href="https://www.linkedin.com/in/zack-ginies/" target="_blank" title="LinkedIn">LinkedIn</a>.
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"}
    %script{src: "public/assets/js/index.js"}
