!!!
%html{xmlns: "http://www.w3.org/1999/xhtml", lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{name: "description", content: "Zack Ginies is a Toronto based product and user experience designer. He is skilled at user research, testing and iterative design. He is also proficient in Sketch, Principle and InVision. In addition, he also has 10 years of front-end development experience."}

    %title Interactive Work - Zack Ginies - Toronto Based Technical Interaction Designer

    %link{rel: "icon", type: "image/png", media: "all", href: "public/assets/images/favicon.png"}

    %link{rel: "stylesheet", type: "text/css", media: "all", href: "public/assets/css/global.css"}
    %link{rel: "stylesheet", type: "text/css", media: "all", href: "public/assets/css/visuals.css"}

    %script{async: "", src: "https://www.googletagmanager.com/gtag/js?id=UA-1039063-1"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-1039063-1');

  %body
    %header.header
      %button.button__open-menu Open Menu
      %nav.nav__main
        %button.button__close-menu Close Menu
        %ul
          %li
            %a{href: "./", title: "About"} About
          %li.active
            %a{href: "./visuals.html", title: "Interactive Work"} Interactive Work
          %li
            %a{href: "./calling.html", title: "UX Studies"} UX Studies
            %ul
              %li
                %a{href: "./calling.html", title: "Calling"} Calling
              %li
                %a{href: "./snapple.html", title: "Project Snapple"} Project Snapple
          %li
            %a{href: "mailto:zack@zackginies.com", title: "Email Me"} Email Me

    %section.section.section__masthead
      .section__content
        %h2.h2.header__masthead Interactive Work
        .arrow.animated.bounce

    %main.main
      %section.section.section__work
        .section__content
          %h3.h3
            Empire
            %span.header__subtitle User Experience • UI Design • Branding

          %p.section__content-paragraph In a previous life, believe it or not, I made pies. Empire was the name of my business, not only named after the apple, but also named after my hopes of being the ultimate grand supreme of the Toronto pie scene (yes, there’s a Toronto pie scene). Ultimately, Empire never took off, but it left us with a beautiful interface and some solid branding.

          %img.section__content-image{src: "public/assets/images/visuals/empire_logos.jpg", alt: "A series of logos for Empire that show a variety of block text with a black outline."}

          %img.section__content-image{src: "public/assets/images/design/empire.jpg", alt: "A large image of the homepage for Empire Pies. The website shows a large pie in the background with the Empire logo on top."}

          .section__content__image-group
            %img.section__content-image{src: "public/assets/images/visuals/empire_2.jpg", alt: "Flavors of pie are displayed with supporting copy indicating the pie is raspberry."}
            %img.section__content-image{src: "public/assets/images/visuals/empire_3.jpg", alt: "A timeline view of the Empire story."}

        .section__content
          %h3.h3
            Format Stores
            %span.header__subtitle User Experience • UI Development

          %p.section__content-paragraph In an effort to centralize all the needs of Format users, a small team - 2 developers, 1 designer and 1 product manager - planned, designed and built a e-commerce platform from the ground up that allowed Format users to sell their products online. Working closely with design, I was responsible for building all the front-end components, as well as integration into Format Themes. I was also a key collaborator in conceptualizing interactions, flows and user stories.

          %p.section__content-paragraph
            %br
            %a{href: "https://www.format.com/features/store", target: "_blank", title: "Find out more about Format Stores"} Find out more about Format Stores

          .section__content-video
            <video playsinline autoplay loop muted>
              <source src="public/assets/images/design/format-store.mp4" type="video/mp4" />
              <source src="public/assets/images/design/format-store.ogg" type="video/ogg" />
              Your browser does not support the video tag.
            </video>

          .section__content__image-group
            %img.section__content-image{src: "public/assets/images/design/format-store-1.jpg", alt: "The editor for the product page. The user can edit the type of product, images and information about the product."}
            %img.section__content-image{src: "public/assets/images/design/format-store-2.jpg", alt: "A listing view of all products in the store. The user can organize and sort their products."}

        .section__content
          %h3.h3
            Calling
            %span.header__subtitle User Experience • UI Design • Branding

          %p.section__content-paragraph In an effort to make volunteering easier, I designed a system that would allow volunteers to be easily matched with organizations they would identify with. Calling facilitates the entire process, from discovery, all the way to application and on-boarding.
          %p.section__content-paragraph
            %br
            %a{href: "./calling.html", title: "Read the Calling case study"} Read the Calling case study

          %img.section__content-image{src: "public/assets/images/visuals/calling_logos.jpg", alt: "Four different version of the Calling logo is displayed in both black and grey. The logos show looping L's and L's that are shaped like a heart."}
          %img.section__content-image{src: "public/assets/images/design/calling.jpg", alt: "An image of a website for the app Calling. The website contains a top navigation and large masthead image with an illustration of a heart."}

        -#
          .section__content
            %h3.h3 Illustration
            %img.section__content-image{src: "public/assets/images/visuals/illustration.jpg", alt: "Four different persona illustrations that show a range of emotions from happy to angry."}

    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"}
    %script{src: "public/assets/js/index.js"}
