@charset "UTF-8";
@import url(./normalize.css);
@import url("https://fonts.googleapis.com/css?family=Montserrat:300i,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,400italic,700italic");
@keyframes bounce {
  0%,
  50%,
  100% {
    transform: translateY(0); }
  20%,
  70% {
    transform: translateY(-10px); } }

/* -----------------------
  Colors
-------------------------*/
/* -----------------------
  Fonts
-------------------------*/
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  color: #292929;
  line-height: 100%; }
  h1 span {
    display: block;
    font-weight: normal;
    font-size: 12px;
    line-height: 84px;
    text-align: left;
    letter-spacing: 2px; }
    h1 span::before {
      content: "—"; }

h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase; }

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  line-height: 56px; }

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  line-height: 42px; }

h5 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  letter-spacing: 3px; }
  h5.center {
    text-align: center; }

h6 {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px; }

p {
  font-size: 16px;
  margin: 0 0 30px 0;
  letter-spacing: .5px;
  line-height: 28px; }

a {
  text-decoration: none;
  color: #ff007e; }

.masthead {
  background: #1F3A93;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end; }
  .masthead .masthead__icon {
    width: 25%;
    margin: 0 5%; }
  .masthead h4 {
    color: #FF968D;
    text-align: left;
    width: 55%; }
    .masthead h4 span {
      display: block;
      font-size: 16px;
      font-weight: normal;
      color: #fff; }
  .masthead .arrow {
    background: #fff;
    position: relative;
    bottom: 50px;
    width: 55%;
    height: 29px;
    -webkit-mask-image: url(../images/icons/arrow_down_pink.svg);
    mask-image: url(../images/icons/arrow_down_pink.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite; }

.main_content {
  background: #fff; }

.section__header {
  width: 65%; }

.section__content {
  color: #212121;
  text-align: left;
  width: 75%;
  max-width: 1024px; }
  .section__content p {
    width: 65%; }

.section__callout {
  background: #1F3A93;
  margin: 40px 0;
  padding-bottom: 40px; }
  .section__callout h4, .section__callout p {
    color: #E2E5F1;
    text-align: center;
    margin-left: auto;
    margin-right: auto; }

.section__callout--list {
  color: #E2E5F1;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0; }

.section__callout--list-item {
  text-align: center;
  padding: 0 15px;
  width: 25%; }
  .section__callout--list-item.item-one {
    padding-top: 30px;
    background: url(../images/case_studies/icons/dumbbell.svg) center 0 no-repeat; }
  .section__callout--list-item.item-two {
    padding-top: 30px;
    background: url(../images/case_studies/icons/dnd.svg) center 0 no-repeat; }
  .section__callout--list-item.item-three {
    padding-top: 30px;
    background: url(../images/case_studies/icons/community.svg) center 0 no-repeat; }
  .section__callout--list-item.item-four {
    padding-top: 30px;
    background: url(../images/case_studies/icons/heart.svg) center 0 no-repeat; }
  .section__callout--list-item p {
    width: auto; }

.section__content-image {
  display: block;
  margin: 75px 0;
  width: 100%; }

.section__content-image--small {
  margin-top: 30px;
  width: 30%; }

.section__content-blockquote {
  line-height: 40px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  width: 70%;
  margin: 75px auto; }
  .section__content-blockquote span {
    display: block;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 2px; }
    .section__content-blockquote span::before {
      content: "—"; }

.section__content-blockquote--small {
  line-height: 40px;
  text-align: center;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  width: 70%;
  margin: 25px auto 75px auto; }

.section__visual-identity .section__callout {
  overflow: hidden; }

.section__visual-identity .section__callout ul {
  float: left;
  color: #E2E5F1;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  list-style: none;
  margin: 0 0 75px 0;
  padding: 0;
  width: 50%; }
  .section__visual-identity .section__callout ul:nth-child(odd) {
    text-decoration: line-through; }

.section__visual-identity .section__callout ul li {
  margin-bottom: 15px; }

.float-right {
  float: right; }
