@import url(./normalize.css);
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,400italic,700italic");
@keyframes bounce {
  0%,
  50%,
  100% {
    transform: translateY(0); }
  20%,
  70% {
    transform: translateY(-10px); } }

/* -----------------------
  Colors
-------------------------*/
/* -----------------------
  Fonts
-------------------------*/
@font-face {
  font-family: "Coffee Service";
  src: url("../fonts/coffeeservice-webfont.eot");
  src: url("../fonts/coffeeservice-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/coffeeservice-webfont.woff") format("woff"), url("../fonts/coffeeservice-webfont.ttf") format("truetype"), url("../fonts/coffeeservice-webfont.svg#coffee_serviceregular") format("svg");
  font-weight: normal;
  font-style: normal; }

h1 {
  font-family: "Coffee Service";
  font-weight: normal;
  text-align: center;
  color: #323136; }

h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase; }

p {
  margin: 0 0 20px 0; }

a {
  text-decoration: none;
  color: #ff007e; }

@media only screen and (max-width: 768px) {
  a {
    color: #ff57ff; } }

html,
body {
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  line-height: 24px; }

.masthead {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../images/backgrounds/zack.jpg) center 0 fixed no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  text-align: center; }
  .masthead h1 {
    font-size: 142px;
    letter-spacing: 4px;
    color: #fff; }
  .masthead .arrow {
    position: absolute;
    bottom: 50px;
    width: 40px;
    height: 40px;
    background: url(../images/icons/arrow_down_white.png) 0 0 no-repeat;
    background-size: contain;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite; }

/* INFO ------------------------------------------------------------*/
.info_block {
  position: relative;
  padding: 40px 5% 20px 5%;
  margin: 0 auto;
  color: #323136;
  text-align: center;
  width: 50%; }
  .info_block h2 {
    width: 70%;
    margin: 0 auto 20px auto;
    font-size: 20px;
    line-height: 30px; }
  .info_block ul {
    padding: 0;
    list-style: none; }
    .info_block ul li {
      padding: 0;
      margin: 0 0 5px 0; }
  .info_block section {
    margin-bottom: 75px; }

@media only screen and (max-width: 768px) {
  .masthead {
    background: url(../images/backgrounds/zack-mobile.jpg) center no-repeat; }
    .masthead h1 {
      font-size: 29px; }
    .masthead .arrow {
      bottom: 10px;
      width: 20px;
      height: 20px;
      background: url(../images/icons/arrow_down_dark.png) 0 0 no-repeat;
      background-size: contain; }
  .info {
    background: #323136 url(../images/backgrounds/info_jaggy.png) 0 0 repeat-x;
    background-size: 20px; }
    .info .info_block {
      color: #fff;
      width: 75%; }
      .info .info_block h2 {
        font-size: 16px;
        width: 100%; } }
