/* -----------------------
  Colors
-------------------------*/
/* -----------------------
  Index Page
-------------------------*/
.section__masthead {
  background: url(../images/backgrounds/jaggy.svg) 0 bottom repeat-x, url(../images/backgrounds/me.jpg) -250px bottom no-repeat;
  background-size: auto, contain;
  background-color: #fff; }

.header__masthead {
  margin-left: 250px; }

/* MAIN CONTENT ------------------------------------------------------------*/
.main {
  background: #292929;
  color: #fff;
  padding-top: 100px; }
  .main .section__content {
    text-align: center;
    width: 50%; }

.list {
  list-style: none;
  margin: 0;
  padding: 0; }

.list__list-item.heart .list__list-item-icon {
  -webkit-mask-image: url(../images/icons/heart.svg);
  mask-image: url(../images/icons/heart.svg); }

.list__list-item.design .list__list-item-icon {
  -webkit-mask-image: url(../images/icons/design.svg);
  mask-image: url(../images/icons/design.svg); }

.list__list-item.development .list__list-item-icon {
  -webkit-mask-image: url(../images/icons/code.svg);
  mask-image: url(../images/icons/code.svg); }

.list__list-item.drag .list__list-item-icon {
  -webkit-mask-image: url(../images/icons/drag.svg);
  mask-image: url(../images/icons/drag.svg); }

.list__list-item.games .list__list-item-icon {
  -webkit-mask-image: url(../images/icons/videogames.svg);
  mask-image: url(../images/icons/videogames.svg); }

.list__list-item.horror .list__list-item-icon {
  -webkit-mask-image: url(../images/icons/horror.svg);
  mask-image: url(../images/icons/horror.svg); }

.list__list-item-icon {
  background-color: #9FE7DE;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%; }

@media only screen and (max-width: 1112px) {
  .section__masthead {
    background: url(../images/backgrounds/jaggy.svg) 0 bottom repeat-x, none; }
  .header__masthead {
    margin-left: 0; }
    .header__masthead .header__subtitle {
      text-align: center; }
  .main .section__content {
    width: 65%; } }

@media only screen and (max-width: 768px) {
  .header__masthead {
    margin-left: 0;
    line-height: 105px;
    text-align: center; }
    .header__masthead .header__subtitle {
      line-height: 2em;
      padding-top: 20px; }
  .main {
    padding-top: 20px; }
    .main .section__content {
      text-align: left;
      width: 75%; }
  .list__list-item {
    text-align: center; } }
