@import "_colors";
@import "_typography";

.section {
  &__masthead {
    background: url(../images/backgrounds/jaggy_white.svg) 0 bottom repeat-x;
  }
}

.main {
  background: #fff;
  color: $darkGrey;
  padding-top: 100px;
  padding-bottom: 0;

  .h3 {
    margin-bottom: 20px;
  }
}

.section__callout {
  background: url(../images/backgrounds/jaggy_white.svg) 0 bottom repeat-x;
  margin: 40px 0;
  padding-bottom: 40px;
  position: relative;
  text-align: center;

  &--last {
    padding-bottom: 100px;
    margin-bottom: 0;
    background-image: none;
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    top: 0;
    left: 0;
    z-index: 1;
    background: url(../images/backgrounds/jaggy_white.svg) 0 bottom repeat-x;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    }
}

.section__content-paragraph,
.section__content-heading {
  width: 65%;
}
