@import "./normalize.css";
@import "_mixins";
@import "_colors";
@import "_typography";
@import "_navigation";

html,
body {
  height: 100%;
  font-family: $Lato;
  font-weight: 100;
  line-height: 24px;
}

header {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 100;

  .button__open-menu {
    background: $hotPink;
    mask-image: url(../images/icons/menu_white.svg);
    mask-repeat: no-repeat;
    mask-position: center;
  }

}


.masthead {
  background: url(../images/backgrounds/jaggy.svg) 0 bottom repeat-x, url(../images/backgrounds/me.jpg) -250px bottom no-repeat;
  background-size: auto, contain;
  position: relative;
  width: 90%;
  padding: 0 5% 50px 5%;
  text-align: center;

  .section__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    max-width: 1024px;
  }

  .masthead__header {
    margin-left: 250px;
    font-size: 100px;
    letter-spacing: 4px;
    color: #000;
  }

  .arrow {
    background: $hotPink;
    mask-image: url(../images/icons/arrow_down_pink.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    position: absolute;
    bottom: 50px;
    width: 56px;
    height: 56px;
    animation: bounce 2s infinite;
  }
}

/* INFO ------------------------------------------------------------*/

.section {
  position: relative;
}

.section__content {
    position: relative;
    padding: 40px 5% 20px 5%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    width: 50%;
}


.info {
  background: $darkGrey;
  padding-top: 100px;
}
.info_block {
  position: relative;
  padding: 40px 5% 20px 5%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  width: 50%;

  h2 {
    width: 70%;
    margin: 0 auto 20px auto;
    font-size: 20px;
    line-height: 30px;
  }

  ul {
    padding: 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    li {
      padding: 0;
      margin: 0 2% 25px 2%;
      width: 45%;
    }
  }

  section {
    margin-bottom: 75px;
  }
}

@media only screen and (max-width: 1112px) {

  .masthead {
    background: url(../images/backgrounds/jaggy.svg) 0 bottom repeat-x, none;
    .masthead__header {
      margin-left: 0;
    }
  }

  .info_block {
    ul li {
      width: 95%;
    }
  }

  h1 span {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  h1 span {
    padding-top: 20px;
    line-height: 24px;
  }

  .masthead {
    margin-bottom: -1px;

    .masthead__header {
      font-size: 29px;
    }

    .arrow {
      bottom: 80px;
      background-size: contain;
    }
  }
  .info {
    .info_block {
      color: #fff;
      width: 75%;

      h2 {
        font-size: 16px;
        width: 100%;
      }

      h3, h4 {
        font-size: 24px;
        line-height: 32px;
      }

      h5 {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}
