@import "_colors";

/* -----------------------
  Index Page
-------------------------*/

.section {
  &__masthead {
    background: url(../images/backgrounds/jaggy.svg) 0 bottom repeat-x, url(../images/backgrounds/me.jpg) -250px bottom no-repeat;
    background-size: auto, contain;
    background-color: #fff;
  }
}

.header__masthead {
  margin-left: 250px;
}

/* MAIN CONTENT ------------------------------------------------------------*/

.main {
  background: $darkGrey;
  color: #fff;
  padding-top: 100px;

  .section__content {
    text-align: center;
    width: 50%;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list__list-item {
  &.heart {
    .list__list-item-icon {
      -webkit-mask-image: url(../images/icons/heart.svg);
      mask-image: url(../images/icons/heart.svg);
    }
  }

  &.design {
    .list__list-item-icon {
      -webkit-mask-image: url(../images/icons/design.svg);
      mask-image: url(../images/icons/design.svg);
    }
  }

  &.development {
    .list__list-item-icon {
      -webkit-mask-image: url(../images/icons/code.svg);
      mask-image: url(../images/icons/code.svg);
    }
  }

  &.drag {
    .list__list-item-icon {
      -webkit-mask-image: url(../images/icons/drag.svg);
      mask-image: url(../images/icons/drag.svg);
    }
  }

  &.games {
    .list__list-item-icon {
      -webkit-mask-image: url(../images/icons/videogames.svg);
      mask-image: url(../images/icons/videogames.svg);
    }
  }

  &.horror {
    .list__list-item-icon {
      -webkit-mask-image: url(../images/icons/horror.svg);
      mask-image: url(../images/icons/horror.svg);
    }
  }
}

.list__list-item-icon {
  background-color: $iceBlue;
}


@media only screen and (max-width: 1112px) {

  .section {
    &__masthead {
      background: url(../images/backgrounds/jaggy.svg) 0 bottom repeat-x, none;
    }
  }

  .header__masthead {
    margin-left: 0;

    .header__subtitle {
      text-align: center;
    }
  }

  .main {
    .section__content {
      width: 65%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .header__masthead {
    margin-left: 0;
    line-height: 105px;
    text-align: center;

    .header__subtitle {
      line-height: 2em;
      padding-top: 20px;
    }
  }

  .main {
    padding-top: 20px;

    .section__content {
      text-align: left;
      width: 75%;
    }
  }

  .list__list-item {
    text-align: center;
  }
}
