@import "./normalize.css";
@import "_mixins";
@import "_colors";
@import "_typography";

html,
body {
  height: 100%;
  font-family: $Lato;
  font-weight: 100;
  line-height: 24px;
}

.masthead {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../images/backgrounds/zack.jpg) center 0 fixed no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin-bottom: 50px;
  text-align: center;
  h1 {
    font-size: 142px;
    letter-spacing: 4px;
    color: #fff;
  }

  .arrow {
    position: absolute;
    bottom: 50px;
    width: 40px;
    height: 40px;
    background: url(../images/icons/arrow_down_white.png) 0 0 no-repeat;
    background-size: contain;
    animation: bounce 2s infinite;
  }
}

/* INFO ------------------------------------------------------------*/

.info_block {
  position: relative;
  padding: 40px 5% 20px 5%;
  margin: 0 auto;
  color: $darkGrey;
  text-align: center;
  width: 50%;

  h2 {
    width: 70%;
    margin: 0 auto 20px auto;
    font-size: 20px;
    line-height: 30px;
  }

  ul {
    padding: 0;
    list-style: none;
    li {
      padding: 0;
      margin: 0 0 5px 0;
    }
  }

  section {
    margin-bottom: 75px;
  }
}

@media only screen and (max-width: 768px) {
  .masthead {
    background: url(../images/backgrounds/zack-mobile.jpg) center no-repeat;
    margin-bottom: 0;

    h1 {
      font-size: 29px;
    }

    .arrow {
      bottom: 80px;
      width: 20px;
      height: 20px;
      background: url(../images/icons/arrow_down_dark.png) 0 0 no-repeat;
      background-size: contain;
    }
  }
  .info {
    background: $darkGrey url(../images/backgrounds/info_jaggy.png) 0 0 repeat-x;
    background-size: 20px;
    .info_block {
      color: #fff;
      width: 75%;

      h2 {
        font-size: 16px;
        width: 100%;
      }
    }
  }
}
