@import "./normalize.css";
@import "_mixins";
@import "_colors";
@import "_typography";

html,
body {
  height: 100%;
  font-family: $Lato;
  font-weight: 100;
  line-height: 24px;
}

nav {
  background: $hotPink;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  font-family: $Montserrat;
  font-weight: bold;
  height: 100vh;
  width: 100%;
  z-index: 1;
  display: none;

  button {
    position: absolute;
    right: 40px;
    top: 40px;
    background: transparent url(../images/icons/close.svg) 0 0 no-repeat;
    border: 0;
    padding: 0;
    height: 36px;
    width: 36px;
    text-indent: -99999px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  li {
    font-size: 60px;
    line-height: 100%;
    margin: 0 0 40px 0;

    a {
      color: #FDE7FA;
    }

    ul li a {
      font-size: 48px;
      color: #1F091C;
    }
  }
}

.masthead {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100vh;
  margin-bottom: 50px;
  padding: 0 5%;
  text-align: center;

  h1 {
    font-size: 142px;
    letter-spacing: 4px;
    color: #000;
  }

  .button__open-menu {
    position: absolute;
    right: 40px;
    top: 40px;
    background: transparent url(../images/icons/close.svg) 0 0 no-repeat;
    border: 0;
    padding: 0;
    height: 36px;
    width: 36px;
    text-indent: -99999px;
  }

  .arrow {
    position: absolute;
    bottom: 50px;
    width: 40px;
    height: 40px;
    background: url(../images/icons/arrow_down_pink.svg) 0 0 no-repeat;
    background-size: contain;
    animation: bounce 2s infinite;
  }
}

/* INFO ------------------------------------------------------------*/

.section {
  position: relative;
}

.section__content {
    position: relative;
    padding: 40px 5% 20px 5%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    width: 50%;
}


.info {
  background: $darkGrey url(../images/backgrounds/info_jaggy.png) 0 0 repeat-x;
  padding-top: 100px;
}
.info_block {
  position: relative;
  padding: 40px 5% 20px 5%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  width: 50%;

  h2 {
    width: 70%;
    margin: 0 auto 20px auto;
    font-size: 20px;
    line-height: 30px;
  }

  ul {
    padding: 0;
    list-style: none;
    li {
      padding: 0;
      margin: 0 0 15px 0;
    }
  }

  section {
    margin-bottom: 75px;
  }
}

@media only screen and (max-width: 1112px) {
  h1 span {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .masthead {
    margin-bottom: -1px;

    h1 {
      font-size: 29px;
    }

    .arrow {
      bottom: 80px;
      background-size: contain;
    }
  }
  .info {
    background: $darkGrey url(../images/backgrounds/info_jaggy.png) 0 0 repeat-x;
    background-size: 20px;
    margin-top: -1px;

    .info_block {
      color: #fff;
      width: 75%;

      h2 {
        font-size: 16px;
        width: 100%;
      }
    }
  }
}
