@import "_colors";
@import "_typography";

body {
  background: #D21F2B;
}

.header {
  .button__open-menu {
    background: #FFDA00;
  }
}

.section {
  .arrow {
    background: #FFDA00;
  }
}

/* MAIN CONTENT ------------------------------------------------------------*/

.section__callout {
  background-color: #D21F2B;
}
