@import "_colors";
@import "_typography";

body {
  background: #D21F2B;
}

.header {
  .button__open-menu {
    background: #FFDA00;
  }
}

.section {
  .arrow {
    background: #FFDA00;
  }
}

.header__masthead {
  color: #fff;
  text-align: center;
}

/* MAIN CONTENT ------------------------------------------------------------*/

.section__callout {
  background-color: #D21F2B;

  .h4, .h6, p {
    color: #fff;
  }
}


@media only screen and (max-width: 1112px) {
  .main .section__content-paragraph,
  .main .section__content-heading {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .header__masthead {
    font-size: 42px;
    line-height: 52px;

    .header__subtitle {
      line-height: 2em;
      padding-top: 20px;
    }
  }

  .main {
    padding-top: 20px;

    .h3 {
      font-size: 32px;
      line-height: 40px;
    }

    .section__content {
      width: 75%;
    }

    .section__content-paragraph,
    .section__content-heading {
      width: auto;
    }
  }
}
